extends tt-layout  

block style
  link(rel='stylesheet', href='../stylesheets/tt/tt-product-new.css')

block content
  h1 Products
  div#productToolbar.product-toolbar
    div.product-toolbar-filter
      span.product-toolbar-label Filter
      button#btnResetFltr(type="button") Reset
      input#product_name.clsFltrInput(type="text" autocomplete="off" title="Type product group, subgroup, or product number, then press Enter or leave the field to apply" placeholder="Filter product numbers")
    div.product-toolbar-actions
      button#btnAddProductGrpNew.btnAdd.btn-new-group(type="button")
        span.btn-new-group-icon(aria-hidden="true")
        span New group
  div#tree-product-new-wrap
    table#tree-product-new
      tbody
  footer#productFooter.product-footer
    p.remark RightClick - open the context menu
  #productDialog(title="Product")
    form#productDialogForm
      input(type="hidden" id="productDialogMode")
      input(type="hidden" id="productDialogKey")
      input(type="hidden" id="productDialogParentKey")
      label(for="productDialogNr") Nr
      input(type="text" id="productDialogNr" autocomplete="off")
      label#productDialogNameLabel(for="productDialogName") Name
      input(type="text" id="productDialogName" autocomplete="off")
  script(src='../javascripts/its_tree_view.js')
  script(src='../javascripts/tt/tt-product-new.js')
