extends tt-layout  

block content
  include tt-map.jade
  | Refresh every 
  select#map-refresh-time
    option(value="10"  ) 10 sec
    option(value="30" selected) 30 sec
    option(value="60"  )    minute
    option(value="600" ) 10 minute
    option(value="3600")    hour
  script(src='../javascripts/tt/tt-usr-map.js')
